*.dll
/obj
/bin
FILELOCK.md
TASKLIST.md
*.zip
/.claude
/.idea
/Unity/PackRat.UI.Authoring/Library/
/Unity/PackRat.UI.Authoring/Logs/
/Unity/PackRat.UI.Authoring/Temp/
/Unity/PackRat.UI.Authoring/UserSettings/
/Unity/PackRat.UI.Authoring/obj/
/Unity/PackRat.UI.Authoring/BuildArtifacts/
/Unity/PackRat.UI.Authoring/PreviewArtifacts/
/Unity/PackRat.UI.Authoring/Tools/bin/
/Unity/PackRat.UI.Authoring/Tools/obj/
/Unity/PackRat.UI.Authoring/*.log
